@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
*,
 ::before,
 ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FBFEFD;
    font-family: 'Poppins', sans-serif;
}

main{
    width: 100%;
    display: flex;
}


/*************** FORMULARIO **************/


.content_form_update{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_form{
    width: 31%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 600px;
    box-shadow: 0 0 20px, 0 0 20px gray;
    background: rgba(128, 128, 128, 0.795);
    border-radius: 20px 100px 20px 100px;
}

.title_form{
    margin-bottom: 30px;
    font-size: 20px;
}

.campos_form{
    padding: 10px 10px;
}

.campos_form_update{
    padding: 5px 10px;
}

.campos_form input{
    padding: 5px 26px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: 1px solid gray;
}

.campos_form_update input{
    padding: 5px 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: 1px solid gray;
}

.campos_form input[type="number"]::-webkit-inner-spin-button,
.campos_form input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.campos_form select{
    padding: 5px 25px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: 1px solid gray;
}

.campos_form_update select{
    padding: 5px 60px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: 1px solid gray;
}

.date{
    padding: 5px 100px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: 1px solid gray;
}

.date_update{
    padding: 5px 90px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: 1px solid gray;
}

.campos_form button{
    padding: 5px 25px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: gray;
    cursor: pointer;
}

.campos_form_update button{
    padding: 5px 25px;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: 1px solid gray;
    background-color: gray;
    cursor: pointer;
}

.campos_form button a{
    text-decoration: none;
    color: black;
}

.btn_table a{
    text-decoration: none;
    color: black;
}




/*************** TABLA **************/

.content_table{
    width: 69%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 870px;
    height: 510px;
    box-shadow: 0 0 20px, 0 0 20px gray;
    background: rgba(128, 128, 128, 0.7);
    border-radius: 50px ;
    /* border: 1px solid red; */
}

.table_products{
    text-align: center;
}

.title_table{
    margin-bottom: 100px;
    font-size: 30px;
}

.title_colums th{
    background: rgba(90, 90, 90, 0.397);
    padding: 5px 10px;
    border-radius: 5px;
}

.date{
    border: 1px solid gray;
    background: white;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 15px;
}

.btn_table{
    padding: 7px 12px;
    background: rgba(0, 0, 0, 0.397);
    border: none !important;
    border-radius: 4px;
    cursor: pointer;
}

